<div *ngIf="loading" class="alert alert-success text-center mt-2" role="alert">
    <h4 class="alert-heading">Cargando...</h4>
    <p>
        <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
</div>


<div *ngIf="error" class="alert alert-danger text-center mt-2" role="alert">
    <h4 class="alert-heading">Error al obtener los usuarios</h4>
    <p> {{error.message}} </p>
</div>

<div class="row row-cols-1 row-cols-md-3" *ngIf="!loading && error === null">

    <div class="col mb-4" *ngFor="let user of users">
        <div class="card h-100">
            <img [src]="user.avatar" class="card-img-top" [alt]="user.first_name + ' avatar'">
            <div class="card-body">
                <h5 class="card-title"> {{user.first_name}} {{user.last_name}}</h5>
                <p class="card-text"> {{user.email}} </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">ID: {{user.id}}</small>
            </div>
        </div>
    </div>

</div>